.container {
    display: flex;
}

.githubLogo, .repoContainer > a {
    background-color: transparent;
    border-radius: 50%;
    padding: 0;
}

.githubLogo {
    margin-left : 5px;
}

.repoContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}