a {
  color: black;
}

a:visited {
  color: black;
}

html > * {
  font-family: Helvetica, Arial, san-serif;
  margin: 0;
}

body {
  padding: 5px;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.bgWrap > img {
  opacity: 0.1;
}

.contentContainer {
  margin: 0 20px;
}

h1, h2, h3 {
  font-weight:200;
  font-size: 22px;
}